/* Enter your custom styles here */
#__xmlview0--title-inner{
    background: rgb(15, 15, 92);
    color: white;
    font-weight: bolder;
}
#__identifier1-__xmlview0--idProductsTable-0-txt{
    color: blue;
}
#__identifier1-__xmlview0--idProductsTable-1-txt{
    color: blue;
}
#__identifier1-__xmlview0--idProductsTable-2-txt{
    color: blue;
}
#__identifier1-__xmlview0--idProductsTable-3-txt{
    color: blue;
}
#__identifier1-__xmlview0--idProductsTable-4-txt{
    color: blue;
}
#__identifier1-__xmlview0--idProductsTable-5-txt{
    color: blue;
}
#__identifier1-__xmlview0--idProductsTable-6-txt{
    color: blue;
}
#__identifier1-__xmlview0--idProductsTable-7-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-0-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-1-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-2-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-3-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-4-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-5-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-6-txt{
    color: blue;
}
#__identifier2-__xmlview0--idProductsTable-7-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-0-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-1-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-2-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-3-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-4-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-5-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-6-txt{
    color: blue;
}
#__identifier3-__xmlview0--idProductsTable-7-txt{
    color: blue;
}